.published {
  font-size: medium;
  opacity: 0.6;
  color: black;
}
.cardFooter {
  h1 {
    font-weight: bolder;
    /* margin-bottom: -10px; */
    line-height: normal;
    text-transform: capitalize;
  }
  a {
    color: black;
  }
  .likes {
    display: flex;
    align-items: center;
    svg {
      font-size: 20px;
    }
  }
}
