.main {
  margin: 20px;
  padding: 20px;
  .searchBox {
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    input {
      width: 100%;
      padding: 10px;
      font-size: 20px;
      border-radius: 4px;
      border: none;
    }
  }
  .searchInput {
    &:focus {
      border-color: #242424;
      border-right-width: 1px !important;
      outline: 0;
      box-shadow: 0px 0px 12px 1px #00000029;
    }
  }
}
