.profileSection {
  margin: 30px;
  .profileDetails {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    .details {
      padding: 10px 20px;
      h2 {
        text-transform: capitalize;
        font-size: 40px;
        font-weight: 800;
      }
      .username {
        font-size: 16px;
        margin-top: -20px;
        opacity: 0.7;
      }
      .bio {
        font-size: 16px;
        margin-top: 6px;
      }
    }
  }
}
.profileImage {
  position: relative;
  min-height: 200px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: -1px 1px 5px #0000002e;
  img {
    border-radius: 5px;
    height: 300px;
    min-height: 150px;
    width: 300px;
  }
}

// .searchBox {
//   //   width: 80%;
//   padding: 10px;
//   margin: auto;
//   margin-bottom: 20px;
//   input {
//     width: 100%;
//     padding: 10px;
//     font-size: 20px;
//     border-radius: 4px;
//     border: none;
//   }
// }
.blogs {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
